@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital@1&display=swap');

.card {
  position: relative;
  min-height: 14em;
  width: 320px;
  height: 400px;
  text-decoration: none;
  border-radius: 50px 50px 30px 15px;
  box-shadow: 3px 3px 15px 5px #00dff8;
  background-color: #4E2ECF;
  overflow: hidden;
  display: grid;
  grid-template-columns: [x0] 1fr [x1] 1fr;
  grid-template-rows: [y0] 40px [y1] 200px [y3] 40px [y4] 60px;
  transition: all 0.4s ease;
  gap: .5rem;
  margin-top: 4rem;
}

.name {
  grid-column: x0 / x1;
  grid-row: y0/y1;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  padding-left: 4%;
  padding-top: 4%;
}

.img {
  display: block;
  margin: auto;
  grid-column: x0 / x2;
  grid-row: y1/y3;
  max-width: 320px;
  animation: fadeIn 1s;
}

.img:hover {
  transform: scale(1.1);
}

.typetitle {
  grid-column: x0 / x2;
  grid-row: y2/y3;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  font-weight: bolder;
  color: rgb(0, 0, 0);
  align-items: center;
  color: #FFFFFF;
}

.types {
  grid-column: x0 / x2;
  grid-row: y4/y5;
  display: flex;
  justify-content: center;
  height: 23%;
}

.btnDelete {
  color: red;
  font-size: 2.5rem;
  font-weight: bold;
  margin-top: 8px;
  margin-left: 90px;
  cursor: pointer;
  z-index: 2;
}


.card:hover {
  transform: translateY(-8px);
}


/* Colores de Titulos */

.fire {
  color: #F57D31
}

.normal {
  color: #AAA67F
}

.fighting {
  color: #C12239
}

.flying {
  color: #A891EC
}

.ground {
  color: #DEC16B
}

.poison {
  color: #A43E9E
}

.rock {
  color: #B69E31
}

.bug {
  color: #A7B723
}

.ghost {
  color: #70559B
}

.steel {
  color: #B7B9D0
}

.water {
  color: #6493EB
}

.grass {
  color: #74CB48
}

.electric {
  color: #F9CF30
}

.psychic {
  color: #FB5584
}

.ice {
  color: #9AD6DF
}

.dragon {
  color: #7037FF
}

.dark {
  color: #75574C
}

.fairy {
  color: #E69EAC
}

.unknown {
  color: #A9A7AA
}

.shadow {
  color: #453F3A
}